/*---
section: Buttons
title: Primary Button
---
```example:html
<button class="button">Primary Button</button>
<a class="button">Primary Link Button</a>
```
*/
.button {
  @mixin button var(--color-button-primary-bg), var(--color-button-primary-color);
}

/*---
section: Buttons
title: Outline Button
---
```example:html
<button class="button-outline">Primary Button</button>
<a class="button-outline">Primary Link Button</a>
```
*/
.button-outline {
  @mixin button var(--color-button-primary-bg), var(--color-button-primary-color), outline;
}
