.btn {
  display: inline-block;
  line-height: 1;
  text-align: center;
  font-size: 14px;
  padding: 12px 14px;
  border: 1px solid transparent;
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
}
.btn-primary {
  @mixin button var(--color-button-primary-bg), var(--color-button-primary-color);
}
.btn-secondary {
  @mixin button var(--color-button-secondary-bg), var(--color-button-secondary-color);
}
.btn-primary-outline {
  @mixin button-outline var(--color-button-primary-outline-color);
}
