/*---
section: Helpers
title: Custom Media Queries
---

#### Usage

For all of the breakpoints there are 3 options.  An `up` to target from a min-width of a particular breakpoint and up.  A `down` to target from a max-width of a particular breakpoint and down.  And an `only` to target from a min-width of a breakpoint to the max-width of that same breakpoint.

#### Up

```example:css
@media (--tablet-up) {
  body {
    background-color: red;
  }
}
```

will compile to:

```example:css
@media (min-width: 768px) {
  body {
    background-color: red;
  }
}
```

#### Down

```example:css
@media (--tablet-down) {
  body {
    background-color: green;
  }
}
```

will compile to:

```example:css
@media (max-width: 1023px) {
  body {
    background-color: red;
  }
}
```

#### Only

```example:css
@media (--tablet-only) {
  body {
    background-color: blue;
  }
}
```

will compile to:

```example:css
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: red;
  }
}
```
*/
