.form {
  & label {
    font-family: var(--font-primary);
    color: var(--color-input-label);
    font-size: var(--font-size-body);
    line-height: var(--line-height-large);
  }

  & input[type~="text"],
  & input[type="email"],
  & input[type="password"],
  & input[type="url"],
  & input[type="tel"],
  & input[type="search"],
  & input[type="number"],
  & input[type="date"],
  & input[type="datetime"],
  & input[type="datetime-local"],
  & input[type="month"],
  & input[type="week"],
  & input[type="time"],
  & textarea {
    width: 100%;
    @mixin input text;
    font-family: var(--font-primary);
    color: var(--color-body);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
  }

  & small {
    display: none;
  }

  & .error {
    & small {
      color: var(--input-error);
      font-size: var(--font-size-small);
    }

    & input[type~="text"],
    & input[type="email"],
    & input[type="password"],
    & input[type="url"],
    & input[type="tel"],
    & input[type="search"],
    & input[type="number"],
    & input[type="date"],
    & input[type="datetime"],
    & input[type="datetime-local"],
    & input[type="month"],
    & input[type="week"],
    & input[type="time"],
    & textarea {
      @mixin input error;
    }
  }
}
