.form {

  & label {
    font-family: var(--font-primary);
    color: var(--color-input-label);
    font-size: var(--font-size-body);
    line-height: var(--line-height-large);
  }

  & input[type="text"],
  & input[type="email"],
  & input[type="password"],
  & input[type="url"],
  & input[type="tel"],
  & input[type="search"],
  & input[type="number"],
  & input[type="date"],
  & input[type="datetime"],
  & input[type="datetime-local"],
  & input[type="month"],
  & input[type="week"],
  & input[type="time"],
  & textarea {
    @mixin input var(--color-input-background), var(--color-body), var(--color-input-disabled), var(--color-input-border), var(--color-input-border-focus), var(--color-input-disabled);
  }

  & select {
    width: 100%;
  }

  & small {
    display: none;
  }

  & .error {
    & small {
      display: block;
      color: var(--color-input-error);
      font-size: var(--font-size-small);
    }

    & input[type="text"],
    & input[type="email"],
    & input[type="password"],
    & input[type="url"],
    & input[type="tel"],
    & input[type="search"],
    & input[type="number"],
    & input[type="date"],
    & input[type="datetime"],
    & input[type="datetime-local"],
    & input[type="month"],
    & input[type="week"],
    & input[type="time"],
    & textarea {
      @mixin input var(--color-input-background), var(--color-body), var(--color-input-disabled), var(--color-input-error), var(--color-input-error), var(--color-input-error);
    }
  }

  & .input-group {
    font-size: 0;

    & input[type="text"],
    & input[type="email"],
    & input[type="password"],
    & input[type="url"],
    & input[type="tel"],
    & input[type="search"],
    & input[type="number"],
    & input[type="date"],
    & input[type="datetime"],
    & input[type="datetime-local"],
    & input[type="month"],
    & input[type="week"],
    & input[type="time"] {
      display: inline-block;
      width: inherit;
      height: 42px;
      vertical-align: middle;
      box-shadow: none;
      margin-right: -1px;
      padding-right: 14px;
      padding-left: 14px;
      border-radius: var(--border-radius-default) 0 0 var(--border-radius-default);
      background-color: var(--color-input-group-background);
      font-size: var(--font-size-body);

      &:focus {
        box-shadow: none;
      }
    }
    & .input-group-btn {
      display: inline-block;
      vertical-align: middle;
      border-radius: 0 var(--border-radius-default) var(--border-radius-default) 0;
    }
  }
}
