/*---
section: Helpers
title: Modal
height: 500px;
---
```example:html
<a href="#modal-example" class="margin-top-sm button">Show Modal</a>
<div id="modal-example" class="modal">
  <a href="#!" class="modal-close"></a> <!-- if you want overlay to close on click -->
  <div class="modal-content">
    <a href="#!" class="modal-close">&times</a>
    <h2 class="heading-2 margin-bottom-sm">This is some title</h2>
    <p class="margin-bottom-sm">This is the modal content</p>
    <p class="margin-bottom-sm">Curabitur a fusce hendrerit potenti mi vestibulum volutpat ullamcorper ac mollis ad nunc condimentum dolor a a suscipit ad vestibulum erat netus est id a condimentum vestibulum phasellus. Vestibulum litora lacus ante vitae non scelerisque vivamus facilisi curabitur in feugiat volutpat mus ut suspendisse nostra commodo elementum a fames augue libero mi bibendum. Mattis auctor a facilisi tristique dui class parturi</p>
    <a href="#!" class="button">Close Me!</a>
  </div>
</div>

```
*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  & .modal-close {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
}


.modal-content {
  max-width: 100%;
  max-height: 100%;

  position: fixed;

  z-index: 100;
  overflow-y: auto;

  left: 50%;
  top: 50%;

  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 60px 10px rgba(0,0,0,0.6);
  @mixin spacing padding, all, md;

  & .modal-close {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    opacity: 0.8;
    transition: opacity 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    &:hover {
      opacity: 1;
    }
  }

  @media (--tablet) {
    min-width: 75%;
  }

  @media (--mobile) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    @mixin spacing padding, all, xs;
    & .modal-close {
      top: 2px;
      right: 2px;
    }
  }
}
