/*---
section: Helpers
title: Print
height: 40px
---

Printing with Clientkit takes some basic reset from [HTML5 Boilerplate](https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css).
All elements are stripped of color styling, while text links and abbr have their
attributes printed alongside. Other than a few more elements that get reset,
there are a few helpers added to allow you to chose which elements are printed
and which are not.

#### Example
```example:html
<p class="show-print-block">print only as block level, won't show on any other media type</p>
<p class="show-print-inline">print only as inline level, won't show on any other media type</p>
<p class="show-print-inline-block">print only as inline-block level, won't show on any other media type</p>
<p class="hide-print">hides print only, will show on any other media type</p>
```

*/
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* end html5bp */

/* custom helpers for clientkit */
.show-print,
.show-print-block {
  display: none !important;

  @media print {
    display: block !important;
  }
}
.show-print-inline {
  display: none !important;

  @media print {
    display: inline !important;
  }
}
.show-print-inline-block {
  display: none !important;

  @media print {
    display: inline-block !important;
  }
}

.hide-print {
  @media print {
    display: none !important;
  }
}

.row-print-stacked {
  @media print {
    & [class*=col-] {
      width: 100% !important;
    }
  }
}
