table {
  border-collapse: collapse;
  border-spacing: 0;
  /* Reset for nesting within parents with `background-color`. */
  background-color: var(--table-bg);
}

caption {
  padding-top: var(--table-cell-padding);
  padding-bottom: var(--table-cell-padding);
  color: #818a91;
  text-align: left;
  caption-side: bottom;
}

td,
th {
  padding: 0;
}

th {
  /* Centered by default, but left-align-ed to match the `td`s below. */
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: var(--spacing-sm);

  th,
  td {
    padding: var(--table-cell-padding);
    line-height: var(--line-height);
    vertical-align: top;
    border-top: var(--table-border-width) solid var(--table-border-color);
  }

  thead th {
    vertical-align: bottom;
    border-bottom: calc(2 * var(--table-border-width)) solid var(--table-border-color);
  }

  tbody + tbody {
    border-top: calc(2 * var(--table-border-width)) solid var(--table-border-color);
  }

  .table {
    background-color: var(--color-body);
  }
}

.table-sm {
  th,
  td {
    padding: calc(var(--table-cell-padding) / 2);
  }
}

.table-bordered {
  border: var(--table-border-width) solid var(--table-border-color);

  th,
  td {
    border: var(--table-border-width) solid var(--table-border-color);
  }

  thead {
    th,
    td {
      border-bottom-width: calc(2 * var(--table-border-width));
    }
  }
}

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: var(--table-bg-accent);
  }
}

.table-hover {
  tbody tr {
    &:hover {
      background-color: var(--table-bg-hover);
    }
  }
}

.table-responsive {
  display: block;
  width: 100%;
  min-height: .01%;
  overflow-x: auto;
}
