.tooltip {
  @mixin tooltip;

  &:hover,
  &-visible {
    &:before,
    &:after {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-break {
    &:after {
      white-space: normal;
    }
  }

  &-up {
    &:after {
      bottom: 100%;
      left: 50%;
      margin-bottom: 5px + $balloon-arrow-height;
      transform: translate(-50%, 10px);
      transform-origin: top;
    }
    &:before {
      bottom: 100%;
      left: 50%;
      margin-bottom: 5px;
      transform: translate(-50%, 10px);
      transform-origin: top;
    }

    &:hover,
    &-visible {
      &:after {
        transform: translate(-50%, 0);
      }

      &:before {
        transform: translate(-50%, 0);
      }
    }
  }

  &-down {
    &:after {
      left: 50%;
      margin-top: 5px + $balloon-arrow-height;
      top: 100%;
      transform: translate(-50%, -10px);
    }

    &:before {
      @include svg-arrow($balloon-bg, 'down');
      left: 50%;
      margin-top: 5px;
      top: 100%;
      transform: translate(-50%, -10px);
    }

    &:hover,
    &-visible {
      &:after {
        transform: translate(-50%, 0);
      }

      &:before {
        transform: translate(-50%, 0);
      }
    }
  }

  &-left {
    &:after {
      margin-right: 5px + $balloon-arrow-height;
      right: 100%;
      top: 50%;
      transform: translate(10px, -50%);
    }

    &:before {
      @include svg-arrow($balloon-bg, 'left');

      margin-right: 5px;
      right: 100%;
      top: 50%;
      transform: translate(10px, -50%);
    }

    &:hover,
    &-visible {
      &:after {
        transform: translate(0, -50%);
      }

      &:before {
        transform: translate(0, -50%);
      }
    }
  }

  &-right {
    &:after {

      left: 100%;
      margin-left: 5px + $balloon-arrow-height;
      top: 50%;
      transform: translate(-10px, -50%);
    }

    &:before {
      @include svg-arrow($balloon-bg, 'right');

      left: 100%;
      margin-left: 5px;
      top: 50%;
      transform: translate(-10px, -50%);
    }

    &:hover,
    &-visible {
      &:after {
        transform: translate(0, -50%);
      }

      &:before {
        transform: translate(0, -50%);
      }
    }
  }
}
