button.tooltip {
  overflow: visible;
}
.tooltip {
  @mixin tooltip;

  &:hover,
  &-visible {
    &:before,
    &:after {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-break {
    &:after {
      white-space: normal;
    }
  }

  &-up {
    &::before {
      triangle: equilateral pointing-down;
      height: 6px;
      background-color: rgba(17,17,17,.9);
      bottom: 100%;
      left: 50%;
      margin-bottom: 5px;
      transform: translate(-50%, 10px);
      transform-origin: top;
    }
    &::after {
      bottom: 100%;
      left: 50%;
      margin-bottom: 10px;
      transform: translate(-50%, 10px);
      transform-origin: top;
    }

    &:hover,
    &-visible {
      &::before {
        transform: translate(-50%, 0);
      }
      &::after {
        transform: translate(-50%, 0);
      }
    }
  }

  &-down {
    &::before {
      triangle: equilateral pointing-up;
      height: 6px;
      background-color: rgba(17,17,17,.9);
      left: 50%;
      margin-top: 5px;
      top: 100%;
      transform: translate(-50%, -10px);
    }
    &::after {
      left: 50%;
      margin-top: 10px;
      top: 100%;
      transform: translate(-50%, -10px);
    }

    &:hover,
    &-visible {
      &::before {
        transform: translate(-50%, 0);
      }
      &::after {
        transform: translate(-50%, 0);
      }

    }
  }

  &-left {
    &::before {
      triangle: equilateral pointing-right;
      height: 6px;
      background-color: rgba(17,17,17,.9);
      margin-right: 5px;
      right: 100%;
      top: 50%;
      transform: translate(10px, -50%);
    }
    &::after {
      margin-right: 10px;
      right: 100%;
      top: 50%;
      transform: translate(10px, -50%);
    }

    &:hover,
    &-visible {
      &::before {
        transform: translate(0, -50%);
      }
      &::after {
        transform: translate(0, -50%);
      }
    }
  }

  &-right {
    &:before {
      triangle: equilateral pointing-left;
      height: 6px;
      background-color: rgba(17,17,17,.9);
      left: 100%;
      margin-left: 5px;
      top: 50%;
      transform: translate(-10px, -50%);
    }
    &::after {
      left: 100%;
      margin-left: 10px;
      top: 50%;
      transform: translate(-10px, -50%);
    }

    &:hover,
    &-visible {
      &::before {
        transform: translate(0, -50%);
      }
      &::after {
        transform: translate(0, -50%);
      }

    }
  }
}
