body {
  font-family: var(--font-primary);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height);
  color: var(--color-body);

  @media (--mobile-only) {
    font-size: var(--font-mobile-size-body);
    line-height: var(--mobile-line-height);
  }
}

@mixin ck-typography;
@mixin typography;
