.ugc {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p,
  & ol,
  & ul {
    @mixin spacing margin, top, none;
    @mixin spacing margin, bottom, md;
  }
  & h1 {
    @mixin font-style heading-1;
  }
  & h2 {
    @mixin font-style heading-2;
  }
  & h3 {
    @mixin font-style heading-3;
  }
  & h4 {
    @mixin font-style heading-4;
  }
  & h5 {
    @mixin font-style heading-5;
  }
  & p {
    @mixin font-style font-body;
  }
  & ul,
  & ol {
    padding-left: 25px;
    @mixin font-style font-body;
  }
  & ul li {
    list-style-type: disc;
  }
  & table {
    width: 100%;
    & th {
      text-align: left;
    }
  }
}
