.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.hide {
  display: none !important;
}

@mixin hide;
