/*---
section: Mixins
title: Button
---

```
@mixin button backgroundColor, fontColor, borderColor, borderRadius, hoverBackground, hoverColor;
```
*/
@define-mixin button $background, $color, $border, $borderRadius, $hoverBackground, $hoverColor {
  display: inline-block;
  background-color: $background;
  line-height: 1;
  text-align: center;
  font-size: 14px;
  padding: 12px 14px;
  border-radius: $borderRadius;
  border: 2px solid $border;
  vertical-align: middle;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: $color;

  &:hover,
  &:active,
  &.active,
  &:focus {
    background-color: $hoverBackground;
    color: $hoverColor;
  }
}

/*---
section: Mixins
title: Button size
---

```
@mixin button-size paddingY, paddingX, fontSize, borderRadius;
```
*/
@define-mixin button-size $paddingY, $paddingX, $fontSize, $borderRadius {
  border-radius: $borderRadius;
  padding: $paddingY $paddingX;
  font-size: $fontSize;
}

