@define-mixin ck-animations {
  .fade-in {
    opacity: 0;
    transition: opacity .5s ease;

    &--up {
      transform: translate3d(0, 10%, 0);
      transition: opacity .5s ease, transform .5s ease;
    }

    &--left {
      transform: translate3d(-10%, 0, 0);
      transition: opacity .5s ease, transform .5s ease;
    }

    &--right {
      transform: translate3d(10%, 0, 0);
      transition: opacity .5s ease, transform .5s ease;
    }

    &--delayed {
      transition-delay: .4s;
    }
  }

  .visible .fade-in,
  .visible.fade-in {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  @media (prefers-reduced-motion: reduce) {
    .fade-in {
      opacity: 1;
      transform: none;
      transition: none;
    }
  }
}
