@define-mixin ck-borders {
  .border-all,
  .border-right,
  .border-left,
  .border-top,
  .border-bottom {
    border-color: var(--color-border);
    border-style: solid;
    border-width: 0;
  }

  .border-all {
    border-width: var(--border-size);
    border-radius: var(--border-radius-default);
  }

  .border-right {
    border-right-width: var(--border-size);
  }

  .border-left {
    border-left-width: var(--border-size);
  }

  .border-top {
    border-top-width: var(--border-size);
  }

  .border-bottom {
    border-bottom-width: var(--border-size);
  }
}
