@define-mixin heading $size, $lineHeight, $mobileSize, $mobileLineHeight {
  font-family: var(--font-heading);
  color: var(--color-heading);
  line-height: $lineHeight;
  font-weight: var(--heading-font-weight);
  font-size: $size;

  @media (--mobile) {
    font-size: $mobileSize;
    line-height: $mobileLineHeight;
  }
}
