@define-mixin ugc {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p,
  & ol,
  & ul {
    @mixin spacing margin, top, none;
    @mixin spacing margin, bottom, md;
  }
  & h1 {
    @mixin heading var(--heading-1-size), var(--heading-1-mobile-size);
  }
  & h2 {
    @mixin heading var(--heading-2-size), var(--heading-2-mobile-size);
  }
  & h3 {
    @mixin heading var(--heading-3-size), var(--heading-3-mobile-size);
  }
  & h4 {
    @mixin heading var(--heading-4-size), var(--heading-4-mobile-size);
  }
  & h5 {
    @mixin heading var(--heading-5-size), var(--heading-5-mobile-size);
  }
  & ul,
  & ol {
    padding-left: 25px;
  }
  & ul li {
    list-style-type: disc;
  }
  & table {
    width: 100%;
    & th {
      text-align: left;
    }
  }
}
