body {
  @media (--desktop-wide) {
    background: red;
  }

  @media (--desktop) {
    background: orange;
  }

  @media (--tablet) {
    background: yellow;
  }

  @media (--mobile) {
    background: green;
  }
}
